<div class="container">
  <div *ngIf="toggleEmailInput" class="email-wrapper shadow p-3 mb-5 bg-white rounded">
    <img src="../assets/images/logo.png" alt="">
    <br>
    <br>
    <h2>Welcome to
      <label>DevPartners</label> Test
    </h2>
    <hr>
    <br>
    <h6>
      NOTE: Please enter the email address you used as applicant.
    </h6>
    <br>
    <div class="row">
      <div class="col-md-9">
        <input type="email" class="form-control" placeholder="e.g.  info@devpartners.co" [(ngModel)]="email" email required>
        <i class="fa fa-envelope fa-2x">
        </i>
        <br>
      </div>
      <div class="col-md-3">
        <button class="btn" (click)="go()">TAKE TEST</button>
      </div>
    </div>
  </div>

  <div *ngIf="!toggleEmailInput && questions" class="test-wrapper shadow p-3 mb-5 bg-white rounded">
    <img src="../assets/images/logo.png" alt="">
    <br>
    <br>
    <div class="progress-wrapper">
      <h4>Question {{currentQuestion}}/20</h4>
      <br>
      <ngb-progressbar type="info" [value]="counter" [striped]="true" [showValue]="true" height="20px" [max]=5>
      </ngb-progressbar>
    </div>
    <br>
    <hr>
    <br>
    <div class="question">
      <h4>{{questions[currentQuestion-1].question}}</h4>
    </div>
    <br>
    <div class="choices text-left">
      <!-- <h5>A.) Manila</h5>
      <h5>B.) Davao</h5>
      <h5>C.) Cebu</h5>
      <h5>D.) Makati</h5> -->
      <h5 *ngFor="let choice of questions[currentQuestion-1].choices">{{choice}}</h5>
    </div>
    <br>
    <div class="answer">
      <span *ngFor="let answer of answers" [ngClass]="{answerClass : answer === answerClass}" (click)="selectedAnswer(answer)">{{answer}}</span>
    </div>
    <br>
    <br>
    <button class="btn btn-nav btn-sm float-left" [disabled]="currentQuestion === 1" (click)="prev()">
      << PREV</button>
        <button class="btn btn-nav btn-sm float-right" [disabled]="currentQuestion === 5" (click)="next()">NEXT >> </button>
        <br>
        <br>
        <button class="btn btn-info">SUBMIT</button>
  </div>
</div>